.footer {
    background-size: cover;
    margin-top: calc(2 * var(--span-xl));
    padding-top: calc(3 * var(--span-xl));
    padding-bottom: calc(3 * var(--span-xl));

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__heading {
        font-family: var(--Clash-Display);
        font-size: calc(var(--size-xl) + 7px);
        font-weight: var(--weight-lg);
        line-height: 48px;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--white-900);
        text-transform: capitalize;
    }

    &__paragraph {
        margin-top: var(--span-s);
        font-family: var(--Satoshi);
        font-size: var(--size-m);
        font-weight: var(--weight-sm);
        line-height: 22px;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--white-900);
    }
}