.intro {
    padding-top: var(--span-2xl);

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__container {
        display: grid;
        grid-template-columns: 1.2fr 1fr;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        z-index: 2;
        transform: translateX(50px);
    }

    &__heading {
        font-family: var(--Clash-Display);
        font-size: calc(var(--size-2xl) + 2px);
        font-weight: var(--weight-xlg);
        line-height: 62px;
        letter-spacing: 0.02em;
        text-align: left;
        color: var(--white-900);

        span {
            display: block;
        }
    }

    &__paragraph {
        margin-top: var(--span-m);
        font-family: var(--Satoshi);
        font-size: calc(var(--size-m) + 4px);
        font-weight: var(--weight-md);
        line-height: 30px;
        letter-spacing: 0.02em;
        text-align: left;
        color: var(--white-900);
    }

    &__image {
        display: block;
        width: 100%;
        object-fit: cover;
    }

    &__image-box {
        transform: translateX(-50px);
    }

    &__list {
        margin-top: var(--span-m);
        display: flex;
        list-style-type: none;
    }

    &__item {
        &:not(:last-child) {
            margin-right: calc(var(--span-s) + 5px);
        }
    }

    &__link {
        text-decoration: none;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 40px;
            height: 40px;
        }
    }

    &__flow {
        margin-top: var(--span-l);
        display: flex;
        justify-content: center;

        svg {
            cursor: pointer;
        }
    }
}