.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__heading {
        font-family: var(--Clash-Display);
        font-size: calc(var(--size-l) + 1px);
        font-weight: var(--weight-lg);
        line-height: 31px;
        letter-spacing: 0.02em;
        text-align: left;
        color: var(--black-900);
    }
}