.editor {

    &__menu {
        display: flex;
        margin-top: var(--span-s);
    }

    &__menuBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: calc(var(--span-xs) + 5px) var(--span-l);
        background: linear-gradient(180deg, #0F0F0F 0%, #181818 100%) !important;
        border-width: 0px 1px !important;
        border-style: solid !important;
        border-color: var(--white-900);
        // box-shadow: 8.16431e-16px 13.3333px 26.6667px rgba(4, 4, 4, 0.4325), inset 3.53787e-16px 5.77778px 5.77778px #1A1A1A, inset -3.53787e-16px -5.77778px 5.77778px #0D0D0D !important;
        flex-grow: 1;
        color: var(--white-900);

        svg {
            width: 21px;
            height: 21px;
            fill: var(--white-900);
        }

        &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }

    >div {
        margin-top: var(--span-s);
        padding: var(--span-s);
        transition: all 300ms;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        min-height: 250px;
        border: none !important;
        outline: none !important;

        &.ProseMirror-focused {
            border: none;
            outline: none;
        }

        >*+* {
            margin-top: var(--sapn-xs);
        }

        ul,
        ol {
            padding: 0 1rem;
            font-family: var(--Satoshi);
            font-size: var(--size-s);
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            color: var(--black-900);
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: var(--Satoshi);
            font-size: calc(var(--size-m) + 2px);
            font-weight: var(--weight-xlg);
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left;
            color: var(--black-900);
        }

        p {
            font-family: var(--Satoshi);
            font-size: calc(var(--size-s) + 1px);
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            color: var(--black-900);
        }
    }
}