.view {
    position: relative;
    background: var(--white-900);
    flex: 1 1 0%;

    &__wrapper {
        margin-top: var(--span-xl);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--span-xl);
    }

    &__image-box {
        background: #D9D9D9;
        height: 230px;
        position: relative;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;

        span {
            box-sizing: border-box !important;
            display: block !important;
            overflow: initial !important;
            width: 100% !important;
            height: 100% !important;
            background: none !important;
            opacity: 1 !important;
            border: 0px !important;
            margin: 0px !important;
            padding: 0px !important;
            position: static !important;
            max-width: 100% !important;
        }
    }

    &__image {
        display: block;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    &__add {
        cursor: pointer;
        background: rgba(235, 235, 235, 0.4);
        border: 3px solid var(--white-900);
        backdrop-filter: blur(4px);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--span-xl);
    }

    &__card {
        display: flex;
        flex-direction: column;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        background: var(--white-900);
        box-shadow: 0px 15px 34px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        padding: calc(var(--span-xs) + 5px) var(--span-s);
    }

    &__title {
        font-family: var(--Satoshi);
        font-size: calc(var(--size-m));
        font-weight: var(--weight-md);
        line-height: 27px;
        letter-spacing: 0.02em;
        text-align: left;
        color: var(--black-900);
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--red-900);
    }
}