.view {
    position: relative;
    background: var(--white-900);
    flex: 1 1 0%;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__heading {
        font-family: var(--Clash-Display);
        font-size: calc(var(--size-l) + 1px);
        font-weight: var(--weight-lg);
        line-height: 31px;
        letter-spacing: 0.02em;
        text-align: left;
        color: var(--black-900);
    }

    &__form {
        margin-top: var(--span-xl);
    }

    &__group {
        &:not(:last-child) {
            margin-bottom: var(--span-l);
        }
    }

    &__wrapper {
        display: flex;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    &__label {
        font-family: var(--Satoshi);
        font-size: var(--size-m);
        font-weight: var(--weight-md);
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--white-900);
        padding: calc(var(--span-xs) + 5px);
        background-color: var(--black-900);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        display: block;
        min-width: 90px;
    }

    &__input {
        padding: calc(var(--span-xs) + 5px);
        flex-grow: 1;
        font-family: var(--Satoshi);
        font-size: var(--size-m);
        font-weight: var(--weight-sm);
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--black-900);
        display: block;
    }

    &__title {
        display: block;
        font-family: var(--Clash-Display);
        font-size: calc(var(--size-m) + 2px);
        font-weight: var(--weight-md);
        line-height: 25px;
        letter-spacing: 0.02em;
        text-align: left;
        color: var(--black-900);
    }

    &__button {
        // margin-top: var(--span-s);
        display: flex;
        align-items: center;
    }

    &__text {
        font-family: var(--Satoshi);
        font-size: var(--size-m);
        font-weight: var(--weight-md);
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--black-900);
        margin-left: var(--span-s);
    }

    &__file {
        width: 0px;
        height: 0px;
    }

    &__card {
        margin-top: var(--span-s);
        display: flex;
    }

    &__textarea {
        margin-top: var(--span-s);
        width: 100%;
        display: block;
        padding: calc(var(--span-xs) + 5px);
        background: var(--white-900);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        font-family: var(--Satoshi);
        font-size: var(--size-m);
        font-weight: var(--weight-sm);
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--black-900);
        border: none;
        resize: none;
        outline: none;
        max-height: 250px;
        height: 100%;
    }

    &__submit {
        margin-top: calc(var(--span-2xl) + var(--span-m));
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--black-900);
        font-family: var(--Satoshi);
        font-size: var(--size-s);
        font-weight: var(--weight-sm);
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--white-900);
        padding: var(--span-s) var(--span-2xl);
        border-radius: 10px;
    }
}

.upload {
    display: block;
    flex-grow: 1;

    &__card {
        padding: calc(var(--span-xs) + 5px);
        background: var(--white-900);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        display: flex;
        position: relative;

        span {
            box-sizing: border-box !important;
            display: block !important;
            overflow: initial !important;
            width: 100% !important;
            height: 100% !important;
            background: none !important;
            opacity: 1 !important;
            border: 0px !important;
            margin: 0px !important;
            padding: 0px !important;
            position: static !important;
            max-width: 100% !important;
        }
    }

    &__image {
        width: 70px;
        height: 70px;
        border-radius: 5px;
        object-fit: cover;
    }

    &__details {
        flex-grow: 1;
        margin-left: var(--span-s);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__icon {
        width: 70px;
        height: 70px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--white-400);

        svg {
            width: 21px;
            height: 21px;
        }
    }

    &__name {
        font-family: var(--Satoshi);
        font-size: var(--size-m);
        font-weight: var(--weight-md);
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--black-900);
    }

    &__size {
        margin-top: 3px;
        font-family: var(--Satoshi);
        font-size: var(--size-s);
        font-weight: var(--weight-sm);
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--black-300);
    }
}

.userpersona {
    &__label {
        margin-top: var(--span-s);
    }

    &__uploads {
        margin-top: var(--span-m);
        display: grid;
        gap: var(--span-s);
    }
}

.colors {
    margin-top: var(--span-m);
    transition: all 300ms;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--span-m);

    &__add {
        display: flex;
        flex-direction: column;
    }

    &__plus {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--white-900);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        // width: 145px;
        height: 145px;
        cursor: pointer;

        svg {
            width: 24px;
            height: 24px;
        }
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--white-900);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        height: 145px;
        cursor: pointer;
    }

    &__text {
        font-family: var(--Satoshi);
        font-size: var(--size-m);
        font-weight: var(--weight-sm);
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--black-900);
        margin-top: var(--span-s);
    }
}

.typography {
    display: flex;
    flex-direction: column;

    &__button {
        width: 100%;
        margin-top: var(--span-s);
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F2F2F2;
        font-family: var(--Satoshi);
        font-size: var(--size-s);
        font-weight: var(--weight-sm);
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: #5A5A5A;
        padding: var(--span-s) var(--span-2xl);
        border-radius: 10px;

        span {
            &:not(:last-child) {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: calc(var(--span-xs) + 5px);
            }
        }

        svg {
            width: 24px;
            height: 24px;
        }
    }

    &__list {
        margin-top: var(--span-m);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--span-s);
        list-style-type: none;
    }


    &__item {
        display: flex;
        justify-content: center;
        padding: var(--span-s);
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        font-family: var(--Satoshi);
        font-size: var(--size-s);
        font-weight: var(--weight-sm);
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--black-900);
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        z-index: 4;
        transition: all 300ms;
    }

    &__modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 400px;
        width: 100%;
        border-radius: 10px;
        background: var(--white-900);
        padding: var(--span-m);
        z-index: 4;
        transition: all 300ms;
    }

    &__title {
        font-family: var(--Satoshi);
        font-size: var(--size-m);
        font-weight: var(--weight-lg);
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--black-900);
    }

    &__group {
        margin-top: var(--span-s);
    }

    &__input {
        height: 50px;
        padding: calc(var(--span-xs) + 2px) var(--span-s);
        font-family: var(--Satoshi);
        font-size: var(--size-s);
        font-weight: var(--weight-sm);
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--black-900);
        display: block;
        width: 100%;
        border: 1px solid var(--black-900) !important;
        border-radius: 5px;
    }

    &__btn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--black-900);
        font-family: var(--Satoshi);
        font-size: var(--size-s);
        font-weight: var(--weight-sm);
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--white-900);
        padding: var(--span-s) var(--span-2xl);
        border-radius: 10px;
    }
}